<div id="carouselExampleControls" class="carousel carousel-dark slide vh-100 vw-100" data-bs-ride="carousel">
  <div class="carousel-inner h-100">
    <div class="carousel-item active h-100">
      <div class="d-block h-100">
        <div class="d-flex justify-content-center align-items-center h-100 container">
          <h1>Hello 1!</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item h-100">
      <div class="d-block h-100">
        <div class="d-flex justify-content-center align-items-center h-100 container">
          <h1>Hello 2!</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item h-100">
      <div class="d-block h-100">
        <div class="d-flex justify-content-center align-items-center h-100 container">
          <h1>Hello 3!</h1>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
